@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --Cyan-card1: hsla(180, 62%, 55%,1);/*color-top-card1 */
     --Red-card2: hsla(0, 78%, 62%,1); /*color-top-card2 */
     --Orange-card3: hsla(34, 97%, 64%,1);/*color-top-card3 */
     --Blue-card4: hsla(212, 86%, 64%,1); /*color-top-card4 */
     --Very-Dark-Blue-title: hsl(234, 12%, 34%); /*top titles*/
     --Grayish-Blue-p: hsl(229, 6%, 66%);/*parragraph color*/
     --Very-Light-Gray-body: hsl(0, 0%, 98%);/*body-baground color*/
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
/* <-------------------all container---------------> */
.all-contain{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
/* <-------------------top container---------------> */
.top{
    margin: 80px 0 45px 0;
    text-align: center;
}
.top h1{
    color: var(--Very-Dark-Blue-title);
    font-weight: 200;
    font-size: 25px;
}
.top span{
    color: var(--Very-Dark-Blue-title);
    font-weight: 600;
    font-size: 25px;
}
.top p{
 color: var(--Grayish-Blue-p);
 font-weight: 400;
 font-size: .95em;
 padding-top: 24px;
}
/* <-------------------cards container---------------> */
.all-card-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px ;
}
.card1,.card2,.card3,.card4{
    width: 314px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0,.2);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
   
}
h2{
    color: var(--Very-Dark-Blue-title);
    font-weight: 600;
    font-size: 1.3em;
}
.card1, .card2, .card3, .card4 p{
    color: var(--Grayish-Blue-p);
    font-weight: 200;
    font-size: .87em;
}

img{
    margin-top: 40px;
    width: 50px;
    align-self: flex-end;
}
img:hover{
    filter: brightness(120%);
    transform: scale(120%);
}
.card1{
    border-top:4px solid var(--Cyan-card1);
    animation: animated  2s ease infinite;

}
@keyframes animated {
    0%{
        border-top:4px solid hsla(180, 62%, 55%,.3);
      
    }
    50%{
        border-top:4px solid hsla(180, 62%, 55%,.5);
    }
    80%{
        border-top:4px solid hsla(180, 62%, 55%,1);
    }
    100%{
        border-top:4px solid hsla(180, 62%, 55%,.5);
    }
}
.card2{
    border-top:4px solid var(--Red-card2);
    animation: animated2 2s ease infinite;
}
@keyframes animated2 {
    0%{
        border-top:4px solid hsla(0, 78%, 62%,.3);
      
    }
    50%{
        border-top:4px solid hsla(0, 78%, 62%,.5);
    }
    80%{
        border-top:4px solid hsla(0, 78%, 62%,1);
    }
    100%{
        border-top:4px solid hsla(0, 78%, 62%,.5);
    }
}
.card3{
    border-top:4px solid var(--Orange-card3);
    animation: animated3 2s ease infinite;
}
@keyframes animated3 {
    0%{
        border-top:4px solid hsla(34, 97%, 64%,.3);
      
    }
    50%{
        border-top:4px solid hsla(34, 97%, 64%,.5);
    }
    80%{
        border-top:4px solid hsla(34, 97%, 64%,1);
    }
    100%{
        border-top:4px solid hsla(34, 97%, 64%,.5);
    }
}
.card4{

    border-top:4px solid var(--Blue-card4);
    animation: animated4 2s ease infinite;
}
@keyframes animated4 {
    0%{
        border-top:4px solid hsla(212, 86%, 64%,.3);
      
    }
    50%{
        border-top:4px solid hsla(212, 86%, 64%,.5);
    }
    80%{
        border-top:4px solid hsla(212, 86%, 64%,1);
    }
    100%{
        border-top:4px solid hsla(212, 86%, 64%,.5);
    }
}
/* responsive mobile -more-than: Mobile: 600px */
@media only screen and (min-width:600px){
    .top h1{
        font-size: 35px;
    }
    .top span{
        font-size: 35px;
    }
    .top p{
     width: 530px;
     
    }
    .all-card-contain{
   flex-direction: row;
   gap: 27px;
    }   
    .card2{
        margin-bottom: 27px;
    }
    .card1,.card2,.card3,.card4{
        height: 250px;
        width: 352px ;
    }
    h2{
        padding-bottom: 8px;
    }
    img{
        width: 65px;
    }
}






/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */